// Importar variables y mixins
@import 'variables';
@import 'mixins';

// Estilos base para el cuerpo y el encabezado
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

header {
    background-color: $color-fondo;
    padding: 10px;

}

// Estilos para la barra de navegación
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    

    li {
      margin: 0 10px;
      width: 150px;
      
      
      
      a {
          padding: 10px;
          text-decoration: none;
        color: $color-texto;
        &:hover {
            background-color: $color-destacado;
            color: $color-destacado-hover;
        }
      }
    }
  }

    // Media query para resoluciones menores
    @media screen and (max-width: 767px) {
        .menu {
            flex-direction: column;
            width: 100%;
            background-color: $color-fondo;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;

      
            li {
              margin: 10px 0;
              width: 100%;
            }
        }
      
    
    }



