// Tema A
$themeA1-color: #f44336;
$themeA2-color: hsl(0, 77%, 29%);
$themeA3-color: hwb(0 66% 7% / 0.5);
$themeA-font: Arial, sans-serif;
$themeA-border: 8px;
$themeA-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
