// Tema A
$theme1-color: #f44336;
$theme2-color: hsl(0, 77%, 29%);
$theme3-color: hwb(0 66% 7% / 0.5);
$theme-font: Arial, sans-serif;
$theme-border: 8px;
$theme-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
