// Tema B
$themeB1-color: hsl(199, 100%, 44%);
$themeB2-color: hsl(199, 100%, 18%);
$themeB3-color: hsl(187, 80%, 71%);
$themeB-font: Georgia, sans-serif;
$themeB-border-radius: 16px;
$themeB-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);