// Tema A
$themeA-color: #f44336;
$themeA-font: Arial, sans-serif;
$themeA-border: 8px;
$themeA-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);

// Tema B
$themeB-color: #00b0ff;
$themeB-font: Georgia, serif;
$themeB-border-radius: 16px;
$themeB-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);