// Tema A
$themeA1-color: #f44336;
$themeA2-color: hsl(0, 77%, 29%);
$themeA3-color: hwb(0 66% 7% / 0.5);
$themeA-font: Arial, sans-serif;
$themeA-border: 8px;
$themeA-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);

// Tema B
$themeB1-color: hsl(199, 100%, 44%);
$themeB2-color: hsl(199, 100%, 18%);
$themeB3-color: hsl(187, 80%, 71%);
$themeB-font: Georgia, serif;
$themeB-border-radius: 16px;
$themeB-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);