@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    margin: 10px;
    display: grid;
    grid-template-columns: 180px 130px 50px;
    grid-template-rows: 40px;
    font-size: 25px;
    font-weight: 800;
}

.list-user-list-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 180px 130px 50px;
    grid-template-rows: 170px;
    font-size: 20px;

}


.list-header {
    background-color: #2f4858;
    color: white;
    font-weight: bold;
}

.list-user-list-container>img {
    width: 150px;
    height: 150px;
}