:root {
  --background-color: #141414;
}

body {
  background-color: var(--background-color);
  width: 400px;
  padding: 10px;
  font-family: 'Righteous', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 40px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 80px;
  color: white;
  align-items: center;
}


.header-buttons>div:hover {
  padding: 20px;
  border-radius: 10%;
}

.header-buttons>div:hover {
  background-color: white;
  color: #141414;
}

#top-text {
  font-weight: 800;
 font-weight: bold;

}

.section-title {
  color: white;
  margin: 10px 0;
}

.top,
.first,
.second {
  overflow: hidden;
}

.top-item {
  min-width: 225px;
  display: none;
}

 /* Muestra los primeros tres elementos */
 .top-item:nth-child(-n+3) {
  display: block;
}

.item {
  min-width: 250px;
}

@media screen and (min-width: 1280px) {
  body {
    width: 100%;
  }

  .top,
  .first,
  .second {
    display: flex;
    flex-wrap: nowrap;
  }

  header {
    width: 82%;
    justify-content: space-between;
    margin-right: 40px;
  }


  .top-item {
    min-width: 225px;
    width: 447px;  
    display: none; 
  }

   /* Muestra los primeros tres elementos */
 .top-item:nth-child(-n+5) {
  display: block;
}


  
  
  .item {
    min-width: 250px;
    margin: 2px;
  }

}