$base-color: #2196f3;

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.darken-4 {
  background-color: darken($base-color, 80%);
}

.darken-3 {
  background-color: darken($base-color, 60%);
}

.darken-2 {
  background-color: darken($base-color, 40%);
}

.darken-1 {
  background-color: darken($base-color, 20%);
}

.base-color {
  background-color: $base-color;
}

.lighten-1 {
  background-color: lighten($base-color, 20%);
}

.lighten-2 {
  background-color: lighten($base-color, 40%);
}

.lighten-3 {
  background-color: lighten($base-color, 60%);
}

.lighten-4 {
  background-color: lighten($base-color, 80%);
}

.color-box-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}