@charset "UTF-8";
/* Sass (Syntactically Awesome Style Sheets) es un preprocesador de CSS que permite escribir hojas de estilo de manera más eficiente y organizada.
Sass extiende la sintaxis de CSS y agrega características como variables, anidamiento, mixins y funciones, lo que facilita la creación y mantenimiento
de hojas de estilo complejas. Sass se compila en CSS estándar que puede ser utilizado en cualquier navegador web. En el código que me muestras, 
se puede ver que se utilizan clases de Sass para definir los colores de los cubos de colores. */
/*Ejecuta el siguiente comando para instalar Sass como una dependencia de desarrollo es necesario tener en la máquina nodeJS:
npm install sass --save-dev

Ejecuta el siguiente comando para compilar tu archivo .scss en un archivo .css:
npx sass input.scss output.css
  */
.container-red {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-red {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 8px;
}

.color-box-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.darken-red-1 {
  background: #f32c1e;
}

.darken-red-2 {
  background: #ea1c0d;
}

.darken-red-3 {
  background: #d2190b;
}

.darken-red-4 {
  background: #ba160a;
}

.base-red {
  background-color: #f44336;
  text-align: center;
  display: flex;
}

.lighten-red-1 {
  background-color: #f55a4e;
}

.lighten-red-2 {
  background-color: #f77066;
}

.lighten-red-3 {
  background-color: #f8877f;
}

.lighten-red-4 {
  background-color: #f99d97;
}

.container-green {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-green {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 8px;
}

.color-box-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.darken-green-1 {
  background: #15d462;
}

.darken-green-2 {
  background: #13bd57;
}

.darken-green-3 {
  background: #11a64c;
}

.darken-green-4 {
  background: #0e8f42;
}

.base-green {
  background-color: #1be86d;
  text-align: center;
  display: flex;
}

.lighten-green-1 {
  background-color: #32ea7c;
}

.lighten-green-2 {
  background-color: #49ed8b;
}

.lighten-green-3 {
  background-color: #60ef99;
}

.lighten-green-4 {
  background-color: #78f1a8;
}

.container-blue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-blue {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 8px;
}

.color-box-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.darken-blue-1 {
  background: #009ee6;
}

.darken-blue-2 {
  background: #008dcc;
}

.darken-blue-3 {
  background: #007bb3;
}

.darken-blue-4 {
  background: #006a99;
}

.base-blue {
  background-color: #00b0ff;
  text-align: center;
  display: flex;
}

.lighten-blue-1 {
  background-color: #1ab8ff;
}

.lighten-blue-2 {
  background-color: #33c0ff;
}

.lighten-blue-3 {
  background-color: #4dc8ff;
}

.lighten-blue-4 {
  background-color: #66d0ff;
}

/*# sourceMappingURL=paleta.css.map */
